.idea
.qt
.cmake
CMakeLists.txt.user
*cmake_install.cmake
build/
*Makefile
cmake-build-debug/
*compile_commands.json
*CMakeCache.txt
*autogen/
*.a
picture_possum
cmake
*/CMakeFiles
/CMakeFiles/
*.cmake
Testing
test/tester