.idea
.qt
build/
*Makefile
*.a
picture_possum
Testing
test/tester
*.autosave


#CMake Stuff
cmake
*/CMakeFiles
/CMakeFiles/
*.cmake
*CMakeCache.txt
*autogen/
cmake-build-debug/
*compile_commands.json
CMakeLists.txt.user
*cmake_install.cmake
.cmake
